In [2]:

#task1: 1.
#Comparing numbers up to 12 with 3 and 10 by using while loop, if, elif,else and printing output statement.
n = 12
sum = 0
i = 0
while i<= n:
    sum = sum + i
    i = i+1
    if (i <3):
        print('the given number', i, "is less than 3")
    elif (i == 3):
        print('the given number',i, "is equal to 3")
    elif (i < 10):
        print('the given number', i, "is less than 10")
    elif (i == 10):
        print('the given number', i, 'is equal to 10')
    else:
        print("the given number", i, "is greater than 3 and 10")

the given number 1 is less than 3
the given number 2 is less than 3
the given number 3 is equal to 3
the given number 4 is less than 10
the given number 5 is less than 10
the given number 6 is less than 10
the given number 7 is less than 10
the given number 8 is less than 10
the given number 9 is less than 10
the given number 10 is equal to 10
the given number 11 is greater than 3 and 10
the given number 12 is greater than 3 and 10
the given number 13 is greater than 3 and 10

In [28]:
#task1: 2.
start_number = 2000
end_number = 3200
for numbers in range(start_number,end_number+1):
    if numbers % 7 == 0 and numbers % 5 == 0:
        print(numbers, end=' , ')

2030 , 2065 , 2100 , 2135 , 2170 , 2205 , 2240 , 2275 , 2310 , 2345 , 2380 , 2415 , 2450 , 2485 , 2520 , 2555 , 2590 , 2625 , 2660 , 2695 , 2730 , 2765 , 2800 , 2835 , 2870 , 2905 , 2940 , 2975 , 3010 , 3045 , 3080 , 3115 , 3150 , 3185 ,

In [17]:
#task1: 3.
first_name = input("Your first name?: ")
last_name = input("Your last name?: ")
print(f"{last_name}_{first_name}")
#name = (f"{first_name}_{last_name}")
#print(name[::-1])

Your first name?: Ravikumar
Your last name?: Bankad
Bankad_Ravikumar

In [27]:
#task1: 4.
D = 12
r = (D/2)
pi = 3.14
v = round((4/3)*pi*(r*r*r))
print(v)

904

In [6]:
#task2: 1.
number = input("Enter sequence of comma seperated numbers: ")
list =[ number ]
print(list)

Enter sequence of comma seperated numbers: 1,2,3,4
['1,2,3,4']

In [1]:
#task2: 3.
word = input("Enter a word: ")
reverse_word = (word[::-1])
print(reverse_word)

Enter a word: ravikumar
ramukivar

In [16]:
#task2: 4.
print('"WE, THE PEOPLE OF INDIA, \n \t having solemnly resolved constitute India into a SOVEREIGN,!\n \t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n \t \t  and secure to all the citizens"')

"WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved constitute India into a SOVEREIGN,!
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	  and secure to all the citizens"

In [42]:
#task2: 2.
rows = 5
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*